<div id='cssmenu'>
    <ul>
    <li><a href='http://localhost:8081/'><span>Home</span></a></li>
    <li><a href='http://localhost:8081/web/profile'><span>Profile</span></a></li>
    <li class='last'><a href='http://localhost:8081/web/services'><span>Action/Réaction</span></a></li>
    <li class='last'><a href='http://localhost:8081/web/connexion'><span>Services</span></a></li>
    <li class='last'><a href='http://localhost:8081/web/login'><span>Login</span></a></li>
    </ul>
</div>

<h1>Remplir UN formulaire action, UN formulaire réaction et cliquer sur "save"</h1>

<script type="text/javascript">
   var json = {{ servicesJSON|safe }};

   function serviceChange(type) {
      var elems = document.getElementById(type);
      while (elems.hasChildNodes())
         elems.removeChild(elems.firstChild);
      var service = document.getElementById(type + '_service');
      var selectedService = service.options[service.selectedIndex].text;
      for (var i = 0; i < json['server']['services'].length; i++) {
         var obj = json['server']['services'][i];
         if (obj.name.localeCompare(selectedService) != 0)
            continue;
         for (var j = 0; j < Object.keys(obj[type + 's']).length; j++) {
            var opt = document.createElement('option');
            opt.value = Object.keys(obj[type + 's'])[j];
            opt.innerHTML = Object.keys(obj[type + 's'])[j];
            elems.appendChild(opt);
         }
         break;
      }
      accRecChange(type);
   }

   function accRecChange(type)
   {
      var params = document.getElementById(type + "_params");
      while (params.hasChildNodes())
         params.removeChild(params.firstChild);
      var service = document.getElementById(type + '_service');
      var selectedService = service.options[service.selectedIndex].text;
      var accRec = document.getElementById(type);
      var selectedAccRec = accRec.options[accRec.selectedIndex].text;
      var serviceObj = null;
      var accRecObj = null;
      for (var i = 0; i < json['server']['services'].length; i++) {
         var obj = json['server']['services'][i];
         if (obj.name.localeCompare(selectedService) != 0)
            continue;
         serviceObj = obj;
         break;
      }
      for (var i = 0; i < Object.keys(serviceObj[type + 's']).length; i++) {
         if (Object.keys(serviceObj[type + 's'])[i].localeCompare(selectedAccRec) == 0) {
            accRecObj = Object.values(obj[type + 's'])[i];
            break;
         }
      }
      for (var i = 0; i < Object.keys(accRecObj['arguments']).length; i++) {
         var text = document.createElement('div');
         text.innerHTML = Object.keys(accRecObj['arguments'])[i] + ": <input type='text' name='" + type + "_param_" + i + "'>";
         params.appendChild(text);
      }
   }
</script>

<form action='services' method='post'>
   Service Action
   <select name='action_service' id='action_service' onchange='serviceChange("action")'>
   </select>
   Service Reaction
   <select name='reaction_service' id='reaction_service' onchange='serviceChange("reaction")'>
   </select>
   <br>
   Action
   <select name='action' id='action' onchange='accRecChange("action")'>
   </select>
   Reaction
   <select name='reaction' id='reaction' onchange='accRecChange("reaction")'>
   </select>
   <br>
   <br>
   <h2>Action Params</h2>
   <div id='action_params'></div>
   <h2>Reaction Params</h2>
   <div id='reaction_params'></div>
   <input type='submit'>
</form>

<script type="text/javascript">

   action_service = document.getElementById('action_service');
   reaction_service = document.getElementById('reaction_service');
   for (var i = 0; i < json['server']['services'].length; i++) {
      var obj = json['server']['services'][i];
      var opt1 = document.createElement('option');
      opt1.value = obj.name;
      opt1.innerHTML = obj.name;
      var opt2 = document.createElement('option');
      opt2.value = obj.name;
      opt2.innerHTML = obj.name;
      action_service.appendChild(opt1);
      reaction_service.appendChild(opt2);
   }

   serviceChange("action");
   serviceChange("reaction");

</script>

<style>

@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid #47c9af;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu ul {
  background: #ffffff;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #47c9af;
}

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
function submitForm() {
        var actions = {
                    imgur__new_comment: $("#imgur__new_comment").serializeArray(),
                    imgur__new_comment: $("#imgur__new_comment").serializeArray(),
                    imgur__score_below: $("#imgur__score_below").serializeArray(),
                    twitter__new_tweet: $("#twitter__new_tweet").serializeArray(),
                    twitter__new_follower: $("#twitter__new_follower").serializeArray(),
                    twitter__new_follower_request: $("#twitter__new_follower_request").serializeArray(),
                    github__new_follower: $("#github__new_follower").serializeArray(),
                    openweathermap__rain_in_city: $("#openweathermap__rain_in_city").serializeArray(),
                    yammer__new_thread: $("#yammer__new_thread").serializeArray(),
            };
            var reactions = {
                    imgur__follow_tag: $("#imgur__follow_tag").serializeArray(),
                    imgur__unfollow_tag: $("#imgur__unfollow_tag").serializeArray(),
                    imgur__comment: $("#imgur__comment").serializeArray(),
                    imgur__uncomment: $("#imgur__uncomment").serializeArray(),
                    imgur__favorite_album: $("#imgur__favorite_album").serializeArray(),
                    imgur__upload_image: $("#imgur__upload_image").serializeArray(),
                    imgur__delete_image: $("#imgur__delete_image").serializeArray(),
                    twitter__tweet: $("#twitter__tweet").serializeArray(),
                    github__star_repo: $("#github__star_repo").serializeArray(),
                    github__unstar_repo: $("#github__unstar_repo").serializeArray(),
                    trello__create_board: $("#trello__create_board").serializeArray(),
            };
            var details = {"action":actions, "reaction":reactions};
    var jsonString = JSON.stringify(details);
    $( document ).ready(function() {
            $('form').each(function() { this.reset() });
        });
    console.log(jsonString);
    $.ajax({
       type: "POST",
       url: "/web/services",
       dataType: "json",
       traditional: true,
       data: {'token_list': JSON.stringify(details)},
       success: function(data) {
               console.log(data["HTTPRESPONSE"]);
       }
    });
}
</script>
