<div id='cssmenu'>
    <ul>
    <li><a href='http://localhost:8081/'><span>Home</span></a></li>
    <li><a href='http://localhost:8081/web/profile'><span>Profile</span></a></li>
    <li class='last'><a href='http://localhost:8081/web/services'><span>Action/Réaction</span></a></li>
    <li class='last'><a href='http://localhost:8081/web/connexion'><span>Services</span></a></li>
    <li class='last'><a href='http://localhost:8081/web/login'><span>Login</span></a></li>
    </ul>
</div>

ACTION :

<h2>Imgur :</h2>
<form action="/web/services">
   <h3>Imgur : new comment</h3>
   <p> </p>
   <p><input type="text" name="Galery Id" /></p>
   <p> </p>
   <p><input type="text" name="Date" /></p>
  <input type="submit">
</form>


<form action="/web/services">
   <h3>Imgur : Score above or eq</h3>
   <p> </p>
   <p><input type="text" name="Galery Id" /></p>
   <p> </p>
   <p><input type="text" name="Score" /></p>
  <input type="submit">
</form>


<form action="/web/services">
   <h3>Imgur : new comment</h3>
   <p> </p>
  <p><input type="text" name="Galery Id" /></p>
  <p> </p>
  <p><input type="text" name="Score" /></p>
  <input type="submit">
</form>

<h2>Twitter :</h2>



<form action="/web/services">
   <h3>Twitter : New tweet</h3>
   <p> </p>
   <p><input type="text" name="Username" /></p>
  <input type="submit">
</form>


<form action="/web/services">
   <h3>Twitter : New Follower</h3>
  <input type="submit">
</form>

<form action="/web/services">
   <h3>Twitter : New Follower request</h3>
  <input type="submit">
</form>

<h2>Github :</h2>

<form action="/web/services">
   <h3>Github : New Commit</h3>
   <p> </p>
   <p><input type="text" name="Owner" /></p>
   <p> </p>
   <p><input type="text" name="Repository" /></p>
   <p> </p>
   <p><input type="text" name="Date" /></p>
  <input type="submit">
</form>

<h2>Openweathermap</h2>

<form action="/web/services">
   <h3>Openweathermap : Raining in city</h3>
   <p> </p>
   <p><input type="text" name="City" /></p>
  <input type="submit">
</form>

<h2>Yammer</h2>

<form action="/web/services">
   <h3>Yammer : New thread</h3>
   <p> </p>
   <p><input type="text" name="Galery Id" /></p>
   <p> </p>
   <p><input type="text" name="Score" /></p>
  <input type="submit">
</form>


REACTION :

<h2>Imgur :</h2>
<form action="/web/services">
   <h3>Imgur : Follow tag</h3>
   <p> </p>
   <p><input type="text" name="Galery Id" /></p>
   <p> </p>
   <p><input type="text" name="Date" /></p>
  <input type="submit">
</form>


<form action="/web/services">
   <h3>Imgur : Unfollow tag</h3>
   <p>Galery Id</p>
  <p><input type="text" name="Galery Id" /></p>
  <p> </p>
  <p><input type="text" name="Score" /></p>
  <input type="submit">
</form>


<form action="/web/services">
   <h3>Imgur : Comment</h3>
   <p> </p>
   <p><input type="text" name="Galery Id" /></p>
   <p> </p>
   <p><input type="text" name="Score" /></p>
  <input type="submit">
</form>


<form action="/web/services">
   <h3>Imgur : Uncomment</h3>
   <p> </p>
  <p><input type="text" name="Galery Id" /></p>
  <p> </p>
  <p><input type="text" name="Score" /></p>
  <input type="submit">
</form>


<form action="/web/services">
   <h3>Imgur : Favorite_Album</h3>
   <p> </p>
  <p><input type="text" name="Galery Id" /></p>
  <p> </p>
  <p><input type="text" name="Score" /></p>
  <input type="submit">
</form>


<form action="/web/services">
   <h3>Imgur : Upload image</h3>
   <p> </p>
   <p><input type="text" name="Galery Id" /></p>
   <p> </p>
   <p><input type="text" name="Score" /></p>
  <input type="submit">
</form>

<form action="/web/services">
   <h3>Imgur : Delete image</h3>
   <p> </p>
   <p><input type="text" name="Galery Id" /></p>
   <p> </p>
   <p><input type="text" name="Score" /></p>
  <input type="submit">
</form>

<h2>Twitter :</h2>


<form action="/web/services">
   <h3>Twitter : Tweet</h3>
   <p> </p>
   <p><input type="text" name="Galery Id" /></p>
   <p> </p>
   <p><input type="text" name="Score" /></p>
  <input type="submit">
</form>



<h2>Github :</h2>

<form action="/web/services">
   <h3>Github : Star repository</h3>
   <p> </p>
  <p><input type="text" name="Galery Id" /></p>
  <p> </p>
  <p><input type="text" name="Score" /></p>
  <input type="submit">
</form>

<form action="/web/services">
   <h3>Github : Unstar repository</h3>
   <p> </p>
  <p><input type="text" name="Galery Id" /></p>
  <p> </p>
  <p><input type="text" name="Score" /></p>
  <input type="submit">
</form>

<h2>Trello</h2>

<form action="/web/services">
   <h3>Trello : Create a board</h3>
   <p> </p>
  <p><input type="text" name="Galery Id" /></p>
  <p> </p>
   <p><input type="text" name="Score" /></p>
  <input type="submit">
</form>


<style>

@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid #47c9af;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu ul {
  background: #ffffff;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #47c9af;
}

</style>
